.custom-box-shadow {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}


.custom-heading-color {
    color: #B01116;
}

.custom-circle-green-color {
    color: #365C29;
}

.custom-hr-color {
    color: black;
    opacity: 100%;
}